<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs'); %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <h1>This is the about page being shows!!</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptates atque dignissimos veritatis quisquam consequuntur facilis sed minima soluta eum, neque voluptate optio iusto fugit asperiores ducimus molestiae accusamus omnis non rerum, cumque animi explicabo, deserunt repudiandae. Eum aut repellendus asperiores tempore itaque iste cumque minus ut earum, est vel non odit quasi nostrum, blanditiis dolore quis, ducimus ipsum! Illo laboriosam error corrupti culpa fugit inventore eaque earum consequatur magni, ut impedit a, in dicta dolorum nobis autem, architecto ullam maiores! Enim et minus fuga pariatur quaerat iusto nam itaque repellendus, laborum, omnis a amet nulla? Ab voluptatum iusto veritatis!</p>
</body>
</html>