<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs'); %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <h1>The front page of my express js page!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aliquam dolor quasi ipsum eligendi odio quam eum temporibus cupiditate nihil, distinctio omnis autem delectus. Ex neque et iure. Ipsam necessitatibus corporis inventore non ad esse odio quae at vitae, aliquid laborum suscipit alias sit eos repellendus consequatur quasi quaerat quidem?</p>
</body>
</html>